body {
  font-family: 'Cairo', sans-serif;
  /* background: #1d2c4d !important; */
  /* text-align: center; */
  
}


.mycontainer {
  width: 100vw;
  padding: 35px 100px;
  background: #192a56;
}

.notification {
  text-align: center
}

.map {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  width: 100vw;
  height: 100vh;
}



/* .btncontaner {
  padding: 20px;
  background: #1d2c4d
}
.button.is-fullwidth{
    background: #2cd1b2;
  border: none;
  color: #fff;
  outline: none;
} */

.notification.is-primary,
.notification.is-danger {
  margin-bottom: 0;
}


.displayNone {
  display: none;
}


.navbar-item img{
  max-height: 1.25rem;
    padding: 0;
    margin: 0;
    padding: 0px 0px 0 5px;
}



/* phone  */
@media (max-width: 500px) {
  .mycontainer {
    padding: 20px ;
    
  }

}

/* laptop */
@media screen and (min-width: 1000px) and (max-width: 1407px) {
  #navbarphone {
    display: none;
  }
}
/* dell */
@media screen and (min-width: 1408px) {
  #navbarphone {
    display: none;
  }
}
